---
title: "About Me"
permalink: /about-me/
author_profile: true
sidebar:
  nav: "sidebar-aboutme"
header:
  overlay_image: /assets/images/header-aboutme.jpg
  caption: "Photo credit: Francois Jud (2012)"
---

This page is more about <b>me as a person</b> than about my research, softwares and tutorials or lessons.
The <b>Who am I?</b> section will describe everything you might want to learn about me, the important bits
synthetised in the <b>Resume</b>. After the different information on how to <b>Contact</b> me, you will also find some informations
on my involvement in <b>Outreach and Work experiences</b>.

<h2> Who am I? </h2>

<h3 id="university"> University Education </h3>

Born in Strasbourg (France) in 1989, I grew up and made all my education in Alsace. After my school certificate at
the Notre-Dame de Sion middle school (Strasbourg) and my high school diploma at the Louis Couffignal high school (Strasbourg),
I have joined the University of Strasbourg in 2007.

<br>
<br>

<center><img src="{{ site.baseurl }}/assets/images/aboutme/me_child.jpg" width='150' height='150'/></center>
<center><sub>Me at the primary school</sub></center>

<br>

Son of an accountant and of a teacher of accounting, brother of an accounter, it was natural for me to study chemical physics.
I started with a <b>Bachelor in Mathematics, Physics, and Chemistry</b> (2007-2011), and continued with a <b>Master degree in Physics and Chemistry,
with a specialisation in Teaching science</b> (2011-2013) in order to prepare the French habilitation for teaching Physics and Chemistry
in middle and high schools. I went on with a second <b>Master degree, in Material Physics and Nanoscience</b> (2013-2014),
to gather more knowledge on Physics and prepare myself for a PhD.

<br>
<br>

Top of the year, I've made both of my internships and Master theses at the Institut Charles Sadron (Strasbourg),
first under the supervision of Prof. Thierry CHARITAT then with Dr. Fouzia BOULMEDAIS. After getting the French habilitation
for teaching in middle and high schools (CAPES, 2014) and a grant from the French government,
I started my <b>PhD in Biophysics</b> under the supervision of <b>Dr. Carlos MARQUES</b> at the Institut Charles Sadron;
and successfully defended my thesis in 2017.

<h3 id="research"> Research Interest </h3>

My current interests in research are mostly revolving around the <b>lipids and lipid membranes physics and chemical physics</b>,
and their <b>interactions with biomolecules and macromolecules</b>. I use for my research multiple techniques, from <b>optical microscopy</b>
to <b>molecular dynamics simulations</b>. After working a while with <i>fluorescence microscopy</i>, both epi- and confocal laser scanning microscopy,
I started to work with <i>interferometric microscopy</i>, notably interferometric scattering microscopy (iSCAT). In the same time,
I gained an increasing interest in numerical simulations, and I started learning <i>Gromacs</i> to run my own personal project on lipid phase transitions.

<br>
<br>

<center><img src="{{ site.baseurl }}/assets/images/aboutme/bilayer.png" width='400' height='400'/></center>
<center><sub>Representation of a lipid bilayer</sub></center>

<br>

A key part of my research is <b>programmation</b>. It is indeed critical for me to interface the microscope I am using with a computer,
using <i>LabVIEW</i> for instance; but also to process and analyse all the data collected in microscopy and through numerical simulations,
which I often do with <i>Python</i> or <i>Java</i> (for ImageJ). I also use other common or uncommon languages, such as <i>Bash</i>, <i>C</i>, <i>C++</i>, <i>HTML</i>, <i>CSS</i> or <i>Ti-Basic</i>.
Knowing so many different languages is possible thanks to my curiosity and dedication, but mostly for my passion for <b>algorithmic</b> on which depend
all programmation languages. Together with my other passion for <b>statistics</b> and <b>Machine Learning</b>, my programmation skills built
my dedication to Data Science.

<h3 id="hobbies"> Hobbies and passions </h3>

I sustain a huge interest in <b>art</b> in general: writing, painting/drawing, music, movie, etc.

<br>
<br>

My interest for <b>illustrations and drawings</b> is perfectly integrated in my research activites. Using softwares
for illustrations, such as Adobe Photoshop, Adobe Illustrator, Gimp or Inkscape, I always look forward to
realise my own <i>diagrams</i>, <i>illustrations</i> and <i>templates</i> for my presentations, articles, and many more.
Of course, I also create illustrations without any relation to my work. Besides creating <b>paintings</b> (acrylic paint, pastel, charchoal, etc.)
and portraits, I used my spare time as an undergrad making a <b>webcomic</b> in collaboration with students from the USA.

<br>
<br>

<center><img src="{{ site.baseurl }}/assets/images/aboutme/comic.png" width='200' height='200'/></center>
<center><sub>Scene extracted from my comic book</sub></center>

<br>

Still during my time at the University, I started getting a lot of interests in creating videos,
and specifically <b>short movies</b>. I took part for 6 years to short movies festivals and contests,
in particular the <i>Marathon Video of Strasbourg</i> (1st price in amateur category). I used my skills
in video-making to make a short movie for a <i>CNRS-hosted contest</i> in 2015.

<br>
<br>

<center><img src="{{ site.baseurl }}/assets/images/aboutme/movie.jpg" width='300' height='300'/></center>
<center><sub>Shooting a short movie in the fog of Alsace</sub></center>

<br>

After learning music theory and trombon in my youth, I learnt how to play <b>bass guitar</b> by myself when
I went to the College, and joined a <i>heavy metal band</i> until I started my PhD. It allowed me to go on
tour in France and Europe and had a lot of fun.

<br>
<br>

<center><img src="{{ site.baseurl }}/assets/images/aboutme/band.jpg" width='120' height='120'/></center>
<center><sub>My heavy metal years</sub></center>


<h2 id="resume"> Resume </h2>

If you want to know what are my current work experience and what was my academic formation, you will find all the information here.
For more details on my CV, feel free to download the <b>pdf version</b> below.

<h3>Work Experience</h3>

<ul>
{% assign sorted = site.aboutme | sort: 'order' | reverse %}
{% for item in sorted %}
{% if item.type == "research" %}
  <li>
  <b> {{ item.title }} </b> &mdash; <i>{{ item.year }}</i>
  <br>
  <sub>{{ item.company }} ( {{ item.location }} )</sub>
  </li>
{% endif %}
{% endfor %}
</ul>

<h3>Academic Formation</h3>

<ul>
{% assign sorted = site.aboutme | sort: 'order' | reverse %}
{% for item in sorted %}
{% if item.type == "formation" %}
  <li>
  <b> {{ item.title }} </b> &mdash; <i>{{ item.year }}</i>
  <br>
  <sub>{{ item.company }} ( {{ item.location }} )</sub>
  </li>
{% endif %}
{% endfor %}
</ul>

<br>

<a href="https://mega.nz/file/WdUWTARC#YYGuzA1C8-VA5mvtaw0XiFlxvwCjzQB3-JPMColojo4" class="btn btn--success"><b>COMPLETE RESUME</b></a>

<h2 id="contact"> Contact </h2>

I am currently based at the <a href="https://www.kcl.ac.uk/engineering"><b>Department of Engineering</b></a> at <b>King's College London</b> (London, UK). To contact me, you can use any of the links
you can find on this page on the <b>Follow me</b> sections, or just simply use my <a href="mailto:vivien.walter@kcl.ac.uk">email address</a>.

<br>
<br>

<center><img src="{{ site.baseurl }}/assets/images/aboutme/strand-campus.jpg" width='200' height='200'/></center>
<center><sub>Strand Campus, location of the Department of Engineering</sub></center>

<br>

If you are interested to work with me, please contact the group leader <a href="http://www.yanshadeng.org">Dr. Yansha Deng</a> to discuss
the opportunities currently available.

<h2 id="outreach"> Outreach and Work experience </h2>

As a former teacher, I have a natural interest in <b>outreach activities</b> to share my research with a wide audience. This include participation
to the <i>Science Week</i> at the <a href="https://www.sciencemuseum.org.uk/home">Science Museum</a> of London or to the <i>Big Bang Day</i> at the <a href="http://www.thecityacademyhackney.org">The City Academy</a> in Hackney.
I am always looking for <b>new opportunities</b> to go out of the lab and present my research or just science in general. If you are looking for a volunteer, feel free to contact me.

<br>
<br>

<center><img src="{{ site.baseurl }}/assets/images/aboutme/bigbang.jpeg" width='350' height='350'/></center>
<center><sub>The Big Bang Day, The City Academy (Hackney, London, UK)</sub></center>

<br>

Inside the lab, my interest for outreach is expressed both by my involvement in public relations, for instance by designing and creating <b>Research Postcards</b> to present the projects
of all the researchers working at the Department of Chemistry. I am also in charge of taking students for week-long <b>work experiences</b> to present the
job of a researcher in Academia.

<br>
<br>

<center><img src="{{ site.baseurl }}/assets/images/aboutme/postcard.png" width='350' height='350'/></center>
<center><sub>Research Postcard made for the King's College London</sub></center>
