---
title: "Research"
permalink: /research/
author_profile: false
entries_layout: grid
sidebar:
  nav: "sidebar-research"
header:
  overlay_image: /assets/images/header-research.png
---

<h2> Current Project(s) </h2>

<h3> Label-Free Optical Imaging </h3>

<h3> Lipid Thermodynamic Phases </h3>

<h2> Collaborations </h2>

{% for item in site.collaborations %}
  {{ item.content }}
{% endfor %}

<h2> Publications </h2>

<h3> Peer-Reviewed Journals </h3>

{% assign sorted = site.publications | sort: 'published-date' | reverse %}
{% for item in sorted %}
  <h4 id="{{ item.slug }}"> {{ item.title }} </h4>
  {{ item.short-author }} <b>{{ item.year }}</b> <i>{{ item.short-journal }}</i> {{ item.short-ref }}
{% endfor %}

<h3> Thesis </h3>

<h2> Previous Projects </h2>
