---
title: "Research"
permalink: /research/
author_profile: false
entries_layout: grid
sidebar:
  nav: "sidebar-research"
header:
  overlay_image: /assets/images/header-research.png
  overlay_filter: 0.3
  caption: "Source: Growth of GUV on gel"
---

Welcome to my <b>Research page</b>. I describe here all the scientific contributions I have made and am still making on the research in <b>Biophysics</b>,
either in <b>optical microscopy</b> or in <b>molecular dynamics (MD) simulations</b>, which are my two favorite research tools.
</br>
</br>
If you are looking for the softwares and other tools I have developped for my research, please visit the <i>Softwares</i> section of the website.

<h2> Current Project(s) </h2>

<h3 id="project-label-free"> Label-Free Optical Imaging </h3>

{% for item in site.projects %}
{% if item.slug == "label-free-iscat" %}
{{ item.excerpt }}
{% endif %}
{% endfor %}
<a href="/projects/label-free-iscat/" class="btn btn--primary"><b>Read More...</b></a>

<h3 id="project-lipid-phase"> Simulations of Lipid Phases </h3>

{% for item in site.projects %}
{% if item.slug == "machine-learning" %}
{{ item.excerpt }}
{% endif %}
{% endfor %}
<a href="/projects/machine-learning/" class="btn btn--primary"><b>Read More...</b></a>

<h2 id="current-collab"> Collaborations </h2>

{% for item in site.collaborations %}
{% if item.active == true %}
  {{ item.content }}
{% endif %}
{% endfor %}

<h2> Publications </h2>

<h3 id="publi-journals"> Peer-Reviewed Journals </h3>

<ul>
{% assign sorted = site.publications | sort: 'published-date' | reverse %}
{% for item in sorted %}
{% if item.thesis != true %}
  <li>
  <h5 id="{{ item.title | slugify }}"> <a href="/publications/{{ item.slug }}"">{{ item.title }}</a> </h5>
  {{ item.short-author }} <b>{{ item.year }}</b> <i>{{ item.short-journal }}</i> {{ item.short-ref }}
  </li>
{% endif %}
{% endfor %}
</ul>

<h3 id="publi-thesis"> Thesis </h3>

<ul>
{% assign sorted = site.publications | sort: 'year' | reverse %}
{% for item in sorted %}
{% if item.thesis == true %}
  <li>
  <h5 id="{{ item.title | slugify }}"> <a href="/publications/{{ item.slug }}"">{{ item.title }}</a> </h5>
  {{ item.thesis-type }} <b>{{ item.year }}</b>
  </li>
{% endif %}
{% endfor %}
</ul>

<h2> Previous Work </h2>

<h3 id="past-collab"> Previous Collaborations </h3>

{% for item in site.collaborations %}
{% if item.active != true %}
  {{ item.content }}
{% endif %}
{% endfor %}

<h3 id="old-projects"> Past Projects </h3>

<ul>
{% assign sorted = site.projects | sort: 'end-year' | reverse %}
{% for item in sorted %}
{% if item.active == false %}
  <li>
  <h5> <a href="/projects/{{ item.slug }}"">{{ item.title }}</a> </h5>
  </li>
{% endif %}
{% endfor %}
</ul>
