---
title: "Research"
permalink: /research/
author_profile: false
entries_layout: grid
sidebar:
  nav: "sidebar-research"
header:
  overlay_image: /assets/images/header-research.png
---

<h2> Current Project(s) </h2>

<h3 id="project-label-free"> Label-Free Optical Imaging </h3>

<h3 id="project-lipid-phase"> Lipid Thermodynamic Phases </h3>

<h2 id="collaborations"> Collaborations </h2>

{% for item in site.collaborations %}
  {{ item.content }}
{% endfor %}

<h2> Publications </h2>

<h3 id="publi-journals"> Peer-Reviewed Journals </h3>

<ul>
{% assign sorted = site.publications | sort: 'published-date' | reverse %}
{% for item in sorted %}
{% if item.thesis != true %}
  <li>
  <h5 id="{{ item.title | slugify }}"> <a href="/publications/{{ item.slug }}"">{{ item.title }}</a> </h5>
  {{ item.short-author }} <b>{{ item.year }}</b> <i>{{ item.short-journal }}</i> {{ item.short-ref }}
  </li>
{% endif %}
{% endfor %}
</ul>

<h3 id="publi-thesis"> Thesis </h3>

<ul>
{% assign sorted = site.publications | sort: 'year' | reverse %}
{% for item in sorted %}
{% if item.thesis == true %}
  <li>
  <h5 id="{{ item.title | slugify }}"> <a href="/publications/{{ item.slug }}"">{{ item.title }}</a> </h5>
  {{ item.thesis-type }} <b>{{ item.year }}</b>
  </li>
{% endif %}
{% endfor %}
</ul>

<h2 id="old-projects"> Previous Projects </h2>
